.finalEstimate {
  margin-bottom: 1rem;
  width: 100%;
  button {
    min-width: 140px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

.estimateResult {
  display: inline-block;
  margin: .5rem 0;
}
