@import "../../../ui";

.header {
  .left {
    &__company {
      color: $primary-color;
      font-size: 24px;
      font-weight: 700;
    }
    &__contacts {
      margin-top: 9px;
      padding: 15px;
      border: 2px solid $primary-color;
      border-radius: 5px;
      margin-bottom: $margin-card;
      span {
        display: block;
        margin-bottom: 18px;
        font-weight: 600;
        &:first-child {
          margin-top: 24px;
          color: $primary-color;
        }
      }
    }
  }
  &__right {
    margin-top: 20px;
    span {
      display: block;
      margin-bottom: 24px;
      label {
        padding-right: 12px;
      }
    }
  }
}

.tasks {
  &__inputGroup {
    @extend .grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
  }
}
.subTasks {
  @extend .grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}
