{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "no-use-before-define": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "no-unused-expressions": "off",
    "no-confusing-arrow": "off",
    "eqeqeq": [
      2,
      "allow-null"
    ],
    "strict": 0,
    "no-console": 0,
    "new-cap": 0,
    "linebreak-style": 0,
    "react/no-unused-prop-types": 0,
    "no-mixed-operators": [
      "error",
      {
        "allowSamePrecedence": true
      }
    ],
    "no-trailing-spaces": [
      1,
      {
        "skipBlankLines": true
      }
    ],
    "class-methods-use-this": 0
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  }
}
