.container {
  width: 700px;
  margin: 0 auto;
}

.calculation {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 200px;
}

.pieChartWrapper {
  float: left;
}

.estimateOptions {
  float: right;
}

.estimateOption {
  padding: 5px;
  width: 340px;
}

.estimateOption > input {
  float: right;
}

.lineChartWrapper{
  padding: 10px;
  margin: 0 auto;
  height: 205px;
  margin-bottom: 350px;
}

input.radarChartPart {
  width: inherit;
}

.estimateOption {
  margin-bottom: 20px;
}

.estimateOption.rate {
  display: flex;
}
