.contacts {
  width: 100%;
  margin: 0;
}

.contactInput {
  display: block;
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px;
}
:global {
  .input-group-addon {
    display: inline-block;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: inherit;
    &:last-child {
      width: 100px;
    }
  }
  .react-flex {
    display: flex;
    justify-content: center;
  }
}
