.contacts {
  width: 100%;
  margin: 0;
}

.contactInput {
  display: block;
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px;
}
.react-date-field__input {
  padding: 0;
}
.react-date-field--theme-default {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}