.finalEstimate {
  border: 1px solid black;
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  height: 100px;
  margin-bottom: 10px;
}

.estimateTitle {
  background-color: #ababab;
  border: 1px solid gray;
  width: 100px;
  padding: 5px;
}

.estimateResult {
  display: inline-block;
  margin-right: 50px;
}

