.final {
  width: 100%;
  display: flex;
  justify-content: center;
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    @media screen and (max-width: 800px){
      flex-direction: column;
    }
    div {
      button {
        margin: 0 0.8rem;
      }
    }
  }
  &__result {
    display: flex;
    margin: 0 0.8rem;
    justify-content: center;
    min-width: 140px;
    margin: .5rem 0;
    @media screen and (max-width: 800px){
      width: 100%;
    }
    &_info {
      font-size: 1rem;
      color: white;
      display: inline-block;
      font-weight: normal;
      line-height: 1.25;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border: 1px solid transparent;
      padding: .5rem 1rem;
      font-size: 1rem;
      border-radius: .25rem;
      background: #ddd;
    }
    &_info:hover{
      color: white;
      background: #b3b3b3;
      border-color: #b3b3b3;
    }
    &_info:focus{
      box-shadow: none;
      color: white;
      background: #b3b3b3;
      border-color: #b3b3b3;
    }
  }
}

.custom-notification-action-button {
  background: #337ab7;
  border-radius: 2px;
  padding: 6px 20px;
  margin: 5px 0px 0px;
  font-weight: bold;
  border: 0px;
  color: #fff;
  cursor: pointer;
}

.custom-notification-input {
  display: block;
  margin: 5px 0px 0px;
  padding: 3px 5px;
  width: 100%;
  border: 1px solid #337ab7;
  border-radius: 2px;
  color: #464a4c;
}

.emails {
  width: 300px;
}

:global {
  .dropdown-menu {
    margin-left: 0.8rem;
    .dropdown-item {
      margin-left: 0;
    }
  }
  .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
    background: #b3b3b3;
    border-color: #b3b3b3;
    font-size: 1rem;
    color: white;
  }
}
