@import "../ui";

.estimator {
  padding: 20px 0;
  margin: 0 auto;
}

:global {
  .react-date-field__input {
    padding: 0;
  }
  .react-date-field--theme-default {
    width: 100%;
    padding: .5rem .75rem;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
  }
  .input-group-addon {
    display: inline-block;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: inherit;
    &:last-child {
      width: 100px;
    }
  }
  input.radarChartPart {
    width: inherit;
  }
  .react-flex {
    display: flex;
    justify-content: center;
  }
}

input[type=text] {
  flex: 1 0 50%;
}
input[type=number] {
  flex: 1 0 50px;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  flex: 1 1 200px !important;
}
input[type=range]:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: .2s;
  box-shadow: 0 0 0 #000;
  background: $primary-color-light;
  border-radius: 1px;
  border: 0 solid #000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0 #000;
  border: 1px solid $primary-color;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: $primary-color;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $primary-color-light;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: .2s;
  box-shadow: 0 0 0 #000;
  background: $primary-color-light;
  border-radius: 1px;
  border: 0 solid #000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 #000;
  border: 1px solid $primary-color;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: $primary-color;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: .2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $primary-color-light;
  border: 0 solid #000;
  border-radius: 2px;
  box-shadow: 0 0 0 #000;
}
input[type=range]::-ms-fill-upper {
  background: $primary-color-light;
  border: 0 solid #000;
  border-radius: 2px;
  box-shadow: 0 0 0 #000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0 0 0 #000;
  border: 1px solid $primary-color;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: $primary-color;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $primary-color-light;
}
input[type=range]:focus::-ms-fill-upper {
  background: $primary-color-light;
}
