.main {
  & > div:not(:last-child) {
    margin-bottom: 1rem
  }
}

.final {
  width: 100%;
  display: flex;
  justify-content: center;
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    @media screen and (max-width: 800px){
      flex-direction: column;
    }
  }
  &__result {
    display: inline-block;
    min-width: 140px;
    max-width: 400px;
    margin: .5rem 0;
    @media screen and (max-width: 800px){
      width: 100%;
    }
    &_info {
      display: inline-block;
      font-weight: normal;
      line-height: 1.25;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border: 1px solid transparent;
      padding: .5rem 1rem;
      font-size: 1rem;
      border-radius: .25rem;
      background: #ddd;
      width: 100%;
    }
  }
}
