.header {
  margin-bottom: 1rem;
  .left {
    &__company {
      color: #d9534f;
      font-size: 24px;
      font-weight: 700;

    }
    &__contacts {
      margin-top: 10px;
      padding: 15px;
      border: 2px solid #d9534f;
      border-radius: 5px;
      margin-bottom: 1rem;
      p {
        margin-top: inherit !important;
      }
      span {
        display: block;
        margin-bottom: 18px;
        font-weight: 600;
        &:first-child {
          margin-top: 24px;
          color: #d9534f;
        }
      }
    }
  }
  &__right {
    margin-top: 10px;
    span {
      display: block;
      margin-bottom: 24px;
      label {
        padding-right: 12px;
      }
    }
  }
}

.tasks {
  margin-bottom: 0 !important;
  &__add {
    margin-bottom: 1rem;
  }
}

.subtasks {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 15px 0 10px 0;
  }
  &__checkbox {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    & input[type="checkbox"] {
      margin: 0 !important;
    }
  }
  &__item {
    margin-bottom: 0 !important;
    margin-left: 8px !important;
    height: fit-content;
    &:first-child {
      margin-left: 0!important;
    }
  }
}

.popover_table {
  td {
    padding: 5px;
    text-align: center;
  }
}

.input_group {
  margin: 0;

  &_addon {
    width: fit-content !important;
  }
  &_addon:hover {
    cursor: default;
  }

  &_time {
    background: #d9534f;
    color: #fff;
    font-size: 21px;
    padding: 4px;
  }
  &_time:hover {
    background: #d2322d;
    cursor: default;
  }

  &_time_value {
    vertical-align: middle !important;
  }

  &_plus, &_minus, &_middle_input {
    width: 45px;
  }
}
