.tasks {
  margin-bottom: 0!important;
  &__add {
    margin: 4px 8px 4px 0;
  }
}
.subtasks {
  &__wrapper {
    position: relative;
  }
  &__checkbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
  }
  &__item {
    margin: 4px 8px 4px 0;
    &:not(button) {
      width: 100%;
    }
  }
}
