.estimator {
  padding: 20px 0;
  margin: 0 auto;
  &__header {
    margin-bottom: 1rem;

  }
  &__body {

  }
}
.company__name {
  font-size: 24px;
  color: rgb(222,79,79);
  font-weight: 700;
}


.left__part {
}

.right__part {
  margin-top: 20px;
  span {
    display: block;
    margin-bottom: 24px;
    label {
      padding-right: 12px;
    }
  }
}

.task__input {
  margin-bottom: 10px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.item {
  display: flex;
  flex-wrap: wrap;
}
input[type=text] {
  flex: 1 0 50%;
}
input[type=number] {
  flex: 1 0 50px;
}

.header__contacts{
  margin-top: 9px;
  padding: 15px;
  border: 2px solid #d9534f;
  border-radius: 5px;
  span {
    display: block;
    margin-bottom: 18px;
    font-weight: 600;
    &:first-child {
      margin-top: 24px;
      color: #d9534f;
    }
  }
}
