body {
  background: #eee !important;
}

input[type="text"] {
  margin-bottom: 5px;
}

input[type="password"] {
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;

  &:focus {
    z-index: 2;
  }
}

.estimate {
  width: 100%;
  &__heading {
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    font-weight: 100;
    line-height: 1.1;
  }
  &__body {
    &_btn {
      margin: 0px auto 30px;
    }
  }
}

.singleEstimate {
  margin: 0 0 25px;
  &__body {
    padding: 5px;
  }
  &:hover, &:focus {
    text-decoration: none;
    .singleEstimate__header {
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      color: white;
      background: #d9534f;
    }
  }
  &__header {
    color: black;
  }
  &__text {
    align-self: flex-start;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 14px;
    text-align: left;
    color: #9a9a9a;
  }
}
