.range {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__item {
    width: 90%;
    margin-bottom: 1rem;
    span {
      font-size: 14px;
    }
    @media screen and (max-width: 1000px){
      flex-wrap: wrap;
      * {
        width: 100% !important;
      }
      div {
        border: none;
      }
    }
    @media screen and (max-width: 600px){
      text-align: center;
    }
  }
}
